In [78]:
import numpy as np
import pandas as pd
import category_encoders
from sklearn.preprocessing import OneHotEncoder
from category_encoders import LeaveOneOutEncoder



def DataPreProcess(testSetValues, values_df, labels_df):

    df= pd.merge(values_df, labels_df, on = 'id' )

    for col in df.columns[df.isna().sum() > 0]:
        mode = df[col].mode()[0]
        df[col].fillna(value = mode, inplace = True)
        
    columnsToDrop = ['funder', 'num_private', 'subvillage', 'region_code', 'recorded_by', 'source_type', 'waterpoint_type', 'scheme_name', 'payment_type', 'quantity_group']
    df.drop(columns = columnsToDrop, inplace = True)
    df['status_group'] = df['status_group'].map({'functional': 2, 'functional needs repair': 1, 'non functional': 0})

    df['date_recorded'] = pd.to_datetime(df['date_recorded'])
    df['year_recorded'] = df['date_recorded'].dt.year
    df['month_recorded'] = df['date_recorded'].dt.month
    df.drop(columns = 'date_recorded', inplace = True)

    testSetValues = pd.read_csv('/home/DATA/TestSetValues.csv')

    for col in testSetValues.columns[testSetValues.isna().sum() > 0]:
        mode = testSetValues[col].mode()[0]
        testSetValues[col].fillna(value = mode, inplace = True)
         
    columnsToDrop = ['funder', 'num_private', 'subvillage', 'region_code', 'recorded_by', 'source_type', 'waterpoint_type', 'scheme_name', 'payment_type', 'quantity_group']
    testSetValues.drop(columns = columnsToDrop, inplace = True)

    testSetValues['date_recorded'] = pd.to_datetime(testSetValues['date_recorded'])
    testSetValues['year_recorded'] = testSetValues['date_recorded'].dt.year
    testSetValues['month_recorded'] = testSetValues['date_recorded'].dt.month
    testSetValues.drop(columns = 'date_recorded', inplace = True)


    target = 'status_group'

    encoder = LeaveOneOutEncoder()
    
    targetEncodeColumns = ['wpt_name', 'basin', 'region', 'district_code', 'lga', 'ward', 'scheme_management','installer','source',
                    'extraction_type', 'extraction_type_group', 'extraction_type_class','management', 'payment', 'water_quality', 'management_group', 'quality_group', 
        'quantity','source_class', 'waterpoint_type_group'] 

    for i in targetEncodeColumns:
        df[str(i) + '_encoded'] = encoder.fit_transform(df[i].values, df[target])
        testSetValues[str(i) + '_encoded'] = encoder.transform(testSetValues[i].values) 
        df.drop(columns=i, inplace=True) 
        testSetValues.drop(columns=i, inplace=True) 
    

    return df, testSetValues

In [36]:
testSetValues = pd.read_csv("/home/DATA/TestSetValues.csv")
trainSetLabels = pd.read_csv("/home/DATA/TrainingSetLabels.csv")
trainSetValues = pd.read_csv("/home/DATA/TrainingSetValues.csv")

In [79]:
df , value = DataPreProcess(testSetValues, trainSetLabels, trainSetValues)
df.head()

      id  status_group  ...  source_class_encoded  waterpoint_type_group_encoded
0  69572             2  ...              1.144476                       1.236945
1   8776             2  ...              1.208149                       1.236945
2  34310             2  ...              1.208149                       1.236945
3  67743             0  ...              1.144520                       1.237003
4  19728             2  ...              1.208149                       1.236945

[5 rows x 32 columns]